asgiref==3.9.2
beautifulsoup4==4.13.5
crispy-bootstrap5==2025.6
dj-database-url==3.0.1
Django==5.2.6
django-appconf==1.1.0
django-cookiebanner==0.2.8
django-crispy-forms==2.4
django-phonenumber-field==8.1.0
gunicorn==23.0.0
phonenumberslite==9.0.15
Pillow==11.3.0
psycopg2-binary==2.9.10
soupsieve==2.8
typing_extensions==4.15.0