{% load static %}
<div id="cookiebannerModal" class="hidden" tabindex="-1" role="dialog" aria-labelledby="cookiebannerModalLabel" aria-hidden="true">
  <div id="cookiebannerModalDialog">
    <div id="cookiebannerModalHeader">
      <h3 id="cookiebannerModalTitle">{{ cb_settings.title }}</h3>
      {% if cb_settings.header_text %}
        <p>{{ cb_settings.header_text|safe }}</p>
      {% endif %}
    </div>
    <div id="cookiebannerModalBody">
      <form id="cookiebannerForm">
        {% for cookiegroup in cb_settings.groups %}
          <div id="cookiegroup_{{ cookiegroup.id }}" style="margin-bottom: 10px;">
            <div>
              <label class="switch">
                <input type="checkbox" name="{{ cookiegroup.id }}" {% if not cookiegroup.optional %}checked disabled{% endif %}>
                <span class="slider"></span>
              </label>
              <h4 class="cookiebannerH4">{{ cookiegroup.name }}</h4>
            </div>
            <p>{{ cookiegroup.description }}</p>
            <a data-toggle="cookiebannerCollapse" href="#detailCollapse{{ cookiegroup.id }}" role="button">Mostra dettagli cookie</a>
            <div class="cookiebannerCollapse" id="detailCollapse{{ cookiegroup.id }}">
              <div class="card card-body">
                <table class="cookiebannerModalTable">
                  {% for cookie in cookiegroup.cookies %}
                    <tr>
                      <td>{{ cookie.pattern }}</td>
                      <td>{{ cookie.description }}</td>
                    </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        {% endfor %}
      </form>
    </div>
    <div id="cookiebannerModalFooter">
      <input type="submit" name="enable_all" class="cookiebannerSubmit btn"
             value="Accetta tutti">
      <input type="submit" name="save" class="cookiebannerSubmit btn"
             value="Salva">
    </div>
  </div>
</div>

<script>
  const cookiegroups = JSON.parse("{{ cookiegroups_json|escapejs }}");
</script>
<script src="{% static 'js/cookiebanner.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/cookiebanner.css' %}">
