{% extends "base.html" %}
{% block title %}Log In{% endblock title %}

{% block contenuto %}

<div class="container">
    <div class="row my-4 justify-content-center align-items-center">

        <div class="col-lg-6 col-md-12 py-5">
            <div class="d-flex py-4 rounded-3" style="border: 2px solid var(--color-primary);">
                <main class="form-signin w-100 m-auto text-center">
                    <h1 class="h3 mb-3 fw-normal">Log In</h1>

                    {% include 'partials/form_login.html' %}

                    <p class="text-body-secondary">© Saniscope-chimica</p>
                </main>
            </div>
        </div>
    </div>
</div>


{% endblock contenuto %}