{% extends "base.html" %}
{% load static %}
{% block title %}Log In{% endblock title %}

{% block contenuto %}

<div class="container">
    <div class="row my-4 justify-content-center align-items-center">

        <div class="col-lg-6 col-md-12 py-5">
            <div class="d-flex py-4 bg-body-tertiary">
                <main class="form-signin w-100 m-auto">
                    <img class="mb-4" src="{% static 'logo/saniscope_logo 2.png' %}" alt="" width="72" height="57">
                    <h1 class="h3 mb-3 fw-normal">Log In</h1>

                    {% include 'partials/form_login.html' %}

                    <div style="text-align: center;">
                        <p class="text-body-secondary">© Saniscope-chimica</p>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>


{% endblock contenuto %}