{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Reset password{% endblock title %}

{% block contenuto %}

<div class= "container">
  <div class = "row my-4 justify-content-center">
    <div class= "col-lg-6 col-md-8 text-center text-uppercase">
      <h1 class="mb-4">Reset password</h1>
      <form method="POST" class="text-center" id="form-password-reset">{% csrf_token %}
        <div id="card-password-reset" class="card">
          <div class="card-body px-0">
            <div class="row justify-content-center">
              <div class="col-8 col-sm-6">
                {{ form|crispy }}
              </div>
            </div>
            <input class="btn btn-navbar" type="submit" value="Manda istruzioni">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="{% static 'js/validazione-campi.js' %}"></script>
<script src="{% static 'js/password-reset-form.js' %}"></script>
{% endblock contenuto %}