{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Hai dimenticato la tu password?{% endblock title %}

{% block contenuto %}

<div class= "container">
  <div class = "row my-4 justify-content-center">
    <div class= "col-lg-6 col-md-8 text-center text-uppercase">
      <h1>Richiedi nuova passsword</h1>
      <form method="POST" class="text-center" id="form-password-reset">{% csrf_token %}
        <div class="row justify-content-center">
          <div class="col-8 col-sm-6">
            {{ form|crispy }}
          </div>
        </div>
        <input class="btn btn-navbar mt-2" type="submit" value="Manda istruzioni">
      </form>
    </div>
  </div>
</div>

<script src="{% static 'js/validazione-campi.js' %}"></script>
<script>
  // Icona di validita' + blocco submit se l'email non e' in un formato
  // valido: funzioni condivise con signup.html, vedi
  // static/js/validazione-campi.js
  installaValidazioneEmail('id_email');
</script>
{% endblock contenuto %}