{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Sign Up{% endblock title%}

{% block contenuto %}


<div class="container">
  <div class="row my-4">
    <div class="col-12">
      <div class="card">
        <div class="card-header text-center display-6">
          Registrati
        </div>
        <div class="card-body">
          <form id="form-registrazione" class="row"  method="post" >
          {% csrf_token %}
            <div id="riga-azienda" class="col-12 mb-3 collapse show">
                <label for="id_azienda" class="form-label">Azienda</label>
                <input type="text" class="form-control" id="id_azienda" name="azienda" placeholder="Se non sei un'azienda, lascia vuoto">
            </div>

            <div class="col-12">
                <div id="avviso-nome-cognome" class="alert alert-danger d-none" role="alert">
                    Inserisci Nome e Cognome, oppure il campo Azienda se ti stai registrando come azienda.
                </div>
                <div id="riga-nome-cognome" class="row collapse show">
                    <div class="col-md-6">
                          {{ form.first_name|as_crispy_field }}
                    </div>

                    <div class="col-md-6" >
                        {{ form.cognome_ragione_sociale|as_crispy_field }}
                    </div>
                </div>
            </div>

            <div class="col-12">
                {{ form.email|as_crispy_field }}
            </div>
        
            <div class="col-md-6 ">
                {{ form.codiceFiscale_PartitaIVA|as_crispy_field }}
            </div>
            
            <div class="col-md-6">
                {{ form.telefono|as_crispy_field }}
            </div>
        
            <div class="col-md-6 ">
                {{ form.citta|as_crispy_field }}
            </div>    

            <div class="col-md-6 ">
                {{ form.indirizzo|as_crispy_field }}
            </div>    

            <div class="col-md-6 ">
                {{ form.password1|as_crispy_field }}
                <ul id="requisiti-password1" class="list-unstyled small mt-1 mb-0">
                    <li data-regola="lunghezza"><i class="bi bi-circle text-muted me-1"></i>Almeno 8 caratteri</li>
                    <li data-regola="alfanumerico"><i class="bi bi-circle text-muted me-1"></i>Non solo lettere o solo numeri</li>
                    <li data-regola="maiuscola"><i class="bi bi-circle text-muted me-1"></i>Almeno una lettera maiuscola</li>
                    <li data-regola="speciale"><i class="bi bi-circle text-muted me-1"></i>Almeno un carattere speciale</li>
                </ul>
            </div>

            <div class="col-md-6 ">
                {{ form.password2|as_crispy_field }}
            </div>    
    
            <div class="col-12 text-center">
                <button class="btn btn-navbar w-30 "  type="submit">Registrati</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/validazione-campi.js' %}"></script>
<script src="{% static 'js/signup.js' %}"></script>

{% endblock contenuto %}