{% load crispy_forms_tags %}
<form id="form-login" class="text-center" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {% comment %} "next" letto dal contesto (LoginView.get_context_data), non da request.GET.next: sopravvive a un POST fallito su questo form, che ha un "action" esplicito. {% endcomment %}
    <input type="hidden" name="next" value="{{ next }}">

    <div class="px-2 mt-3 campo-login-stretto">
        {{ form.username|as_crispy_field }}
    </div>
    <div class="px-2 mt-3 campo-login-stretto">
        {{ form.password|as_crispy_field }}
    </div>
    <div class="px-2 text-end campo-login-stretto">
        <a href="{% url 'password_reset' %}" class="small">Password dimenticata?</a>
    </div>
    <div class="my-3 d-flex justify-content-center gap-2 flex-wrap">
        <button class="btn btn-navbar rounded-pill py-2" type="submit">Log In</button>
        <a class="btn btn-outline-navbar rounded-pill py-2" href="{% url 'signup' %}">Non sei registrato?</a>
    </div>
</form>
