{% load crispy_forms_tags %}
<form id="form-login" class="text-center" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.GET.next }}">

    <div class="form-floating my-2 px-5">
        {{ form.username|as_crispy_field }}
    </div>
    <div class="form-floating my-3 px-5">
        {{ form.password|as_crispy_field }}
    </div>
    <div class="form-floating my-3 d-flex justify-content-center gap-2 flex-wrap">
        <button class="btn btn-navbar py-3" type="submit">Log In</button>
        <a class="btn btn-outline-navbar py-3" href="{% url 'signup' %}">Non sei registrato?</a>
    </div>
    <div class="form-floating" style="margin-top: 40px;">
        <p class="mt-2"><a href="{% url 'password_reset' %}">Password dimenticata?</a></p>
    </div>
</form>
