{% comment %} Toast mostrato da filtro-prodotti-ajax.js quando una ricerca non da' risultati, centrato in pagina. Gli id sono letti dal JS. {% endcomment %}
<div class="toast-container position-fixed top-50 start-50 translate-middle p-3" style="z-index: 1080;">
    {% comment %} Niente bottone di chiusura: il toast si chiude da solo dopo "data-bs-delay". {% endcomment %}
    <div id="toastRicercaSenzaRisultati" class="toast border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000" style="background-color: var(--color-primary); color: var(--color-text-light);">
        <div class="toast-body text-center" id="toastRicercaSenzaRisultatiTesto"></div>
    </div>
</div>
