{% load static %}
<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Giulio Nannicini">
  <meta name="description" content="Sito web della ditta Saniscope-chimica per la vendita di prodotti chimici">
  <meta name="keywords" content="proditti chimici, piscina, carta, detersivi ">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />  

  <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" />


  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">


  <script>
/*
		var ricaricaListaCategoria = function () {
			$.ajax({
				method: "GET",
				url: "api/categoria",
				dataType: "json"
			}).done(
				function (_data) {
					const template = document.getElementById('dropdownCategorie-template').innerHTML;
					const rendered = Mustache.render(template, {listCategoria: _data});
					document.getElementById('dropdownCategorie').innerHTML = rendered;
				}
			)
		}
		
		var ricaricaElementiCarrello = function(){
				$.ajax({
					method: "GET",
					url: "/webapp/api/carrello/numeroElementi",
					dataType: "json"
				}).done(
					function (_data) {
						$("#numeroElementiCarrello").text(_data);
					}
				)
			}
			*/
			var inserisciElementoOrdine = function (idProdotto) {
				$.ajax({
					method: "POST",
					url: "/webapp/api/elementoOrdine/add?idProdotto="+idProdotto,
					dataType: "json"
				}).done(
					function (_data) {
						if (_data.id != 0){
							ricaricaElementiCarrello();
						} else {
							alert("C'è stato un problema contattare Giulio")
						}
						
					}
				)
			}
			
			var rimuoviElementoOrdine = function (idProdotto) {
				$.ajax({
					method: "POST",
					url: "/webapp/api/elementoOrdine/remove?idProdotto="+idProdotto,
					dataType: "json"
				}).done(
					function (_data) {
						if (_data.id != 0){
							ricaricaElementiCarrello();
						} else {
							alert("C'è stato un problema contattare Giulio")
						}
						
					}
				)
			}

		$(document).ready(function () {
			ricaricaListaCategoria();
			ricaricaElementiCarrello();
		})
  </script>

  <title>{% block titolo %} SaniScope-chimica {% endblock titolo %}</title>



</head>

<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid ">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'logo/saniscope_logo.png' %}" alt="Logo" width="60" height="50"
        class="d-inline-block align-text-top">
      <h2>SaniScope-chimica</h2>
    </a>
    <button class="navbar-toggler border" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="#navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-dark fs-6" href="{% url 'home' %}">Home</a>
        </li>

        <li class="nav-item ">
          <a class="nav-link  text-dark fs-6" href="{% url 'storia_azienda' %}">
            Azienda
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item fs-6" href="{% url 'storia_azienda' %}">Storia dell'Azienda</a></li>

          </ul>
        </li>


        <li class="nav-item dropdown" onclick=tendina()>
          <a class="nav-link dropdown-toggle text-dark fs-6" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Catalogo
          </a>
          <ul class="dropdown-menu" id="dropdownCategorie">
            {% for lista in categoria %}
              <li><a class="dropdown-item fs-6" href="{% url 'dettaglio_categoria' lista.pk %}">{{lista.nome_categoria}}</a></li>
            {% endfor %}
            
          </ul>
        </li>
        
        <script>
          function tendina() {
            window.location.href = "{% url 'catalogo' %}"
          }
        </script>

        <script>
          $(document).ready(function () {
            $('.dropdown').hover(function () {
              $(this).addClass('show');
              $(this).find('.dropdown-menu').addClass('show');
            }, function () {
              $(this).removeClass('show');
              $(this).find('.dropdown-menu').removeClass('show');
            });
          });

        </script>

        <li class="nav-item">
          <a class="nav-link text-dark fs-6" href="{% url 'documenti' %}">Documenti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fs-6" href="{% url 'contatti' %}">Contatti</a>
        </li>
      </ul>



      <span class="navbar-text">

				{% if user.is_authenticated %}

				
					<div class ="d-inline-flex">
						<a type="button" role="button"href = "{% url 'carrello' %}" class = "btn btn mx-5">

              <div class="py-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-cart3 " viewBox="0 0 16 16">
                  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg>
                Carrello
              </div>
						</a>

            <div class="dropdown" style="float: right;">

              <a class="d-flex align-items-center text-decoration-none " id="dropdownUser1"
              data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-fill text-dark icon-lg fs-2"> </i>
              </a>
              <ul class="dropdown-menu text-small dropstart py-1" style= "right: 0 !important; left: auto !important" aria-labelledby="dropdownUser1">
                <li class="text-center bg-light">  {{user.email}} </li>
                {% if user.is_authenticated %}
                  {% if user.is_staff %}
                <li><a class="dropdown-item bg-dark text-white" href="{% url 'sincronizzazione' %}">Sincronizzazione immagini e schede</a></li>
                  {% endif %}
                {% endif %}
                <li><a class="dropdown-item bg-dark text-white" href="{% url 'profilo' user.pk %}">Profilo</a></li>
                <li><a class="dropdown-item bg-dark text-white" href="{% url 'password_change' %}">Cambia password</a></li>
                <li><a class="dropdown-item bg-dark text-white" href="{% url 'lista_ordini'%}">Lista preventivi</a></li>    
                <li><a class="dropdown-item bg-dark text-danger" href={% url 'eliminaProfilo' user.pk %}>Elimina</a></li>
                <li><a class="dropdown-item bg-dark text-white" href="{% url 'logout' %}">Log Out</a></li>
              </ul>
            </div>  
				  </div>

				{% else %}

				<button type="button" class="btn btn-dark me-2">
					<a href="{% url 'login' %}" class=" px-2 text-white h6">
						Login
					</a>

				</button>
				<button type="button" class="btn btn-dark">
					<a href="{% url 'signup' %}" class=" px-2 text-white h6">
						Sign-up
					</a>

				</button>

				{% endif %}

			  </span>

    </div>
  </div>
</nav>




<body>





  {% block contenuto %}

  {% endblock contenuto %}


  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="container-fluid">
      <div class="row">

        <div class="col-lg-5 align-items-center" id="linkfooterlogo">

          <a class="navbar-brand text-dark" href="{% url 'home' %}">
            <img src="{% static 'logo/saniscope_logo.png' %}" width="60" height="50"
              class="d-inline-block align-text-top">
            <h2>Saniscope-chimica</h2>
          </a>

          <ul class="nav flex-column text-start">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark py-1 fs-6">Via A. Burzagli 83, 52025
                Montevarchi(AR)</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark py-1 fs-6">Tel: (+39) 055 980308</a>
            </li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark py-1 fs-6">Fax: 055 981450</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark py-1 fs-6">Email:
                info@saniscope-chimica.it</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark py-1 fs-6">COD.FISC/P.IVA:
                00156060519</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark py-1 fs-6">Codice Univoco Fatturazione
                Elettronica: M5UXCR1</a></li>
          </ul>


          <!--<p class="">Via A. Burzagli 83, 52025 Montevarchi(AR)</p>-->
        </div>

        <div class="col-lg-3 align-items-start" id="EtichettaturaAmbientale">
          <!--
          <a href="{% url "etichettatura_ambientale" %}" class="text-dark my-2">
            <h3>Etichettatura Ambientale</h3>
          </a> -->

          <h4 class="text-uppercase fw-bold mb-3 py-3">Link utili</h4>
          <ul class="nav flex-column">
            <li class="nav-item mb-3"><a href="{% url 'etichettatura_ambientale' %}"
                class="nav-link p-0 text-dark">Etichettatura Ambientale</a></li>

            <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-dark">Privacy Policy</a></li>
            <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-dark">Cookie Policy</a></li>
          </ul>


        </div>

        <div class="col-lg-4 d-flex justify-content-end" id="linkIconefooter">
          <ul class="nav list-unstyled py-4">
            <li class="ms-3">
              <a class="text-muted fs-4 mx-3" href="https://www.facebook.com/profile.php?id=100029110254978"
                target="_blank" title="pagina Facebook">
                <i class="bi bi-facebook"></i>
              </a>
            </li>

            <li class="ms-3">
              <a class="text-muted fs-4 mx-3" href="https://wa.me/+393777093225" target="_blank"
                title="nuemro di Whatsapp: +393777093225">
                <i class="bi bi-whatsapp"></i>
              </a>
            </li>

            <li class="ms-3">
              <a class="text-muted fs-4 mx-3" href="tel:+393777093225" title="nuemro di cellulare: +393777093225">
                <i class="bi bi-telephone"></i>
              </a>
            </li>

            <li class="ms-3">
              <a class="text-muted fs-4 mx-3" href="mailto:info@saniscope-chimica.it"
                title="email: info@saniscope-chimica.it">
                <i class="bi bi-envelope"></i>
              </a>
            </li>

          </ul>
        </div>
      </div>

      <div class="footer-copyright text-center py-5">© Saniscope-chimica</div>
    </div>
  </footer>


  {% url "cookie_consent_cookie_group_list" as url_cookies %}
<template id="cookie-consent__cookie-bar">
  <div class="cookie-bar">
      <span>This site uses cookies for better performance and user experience.
      Do you agree to use these cookies?</span>
      <button type="button" class="cookie-consent__accept">Accetta e continua</button>
      <a href="{{ url_cookies }}">Cookies info</a>
  </div>
</template>

<template id="analytics-scripts">
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-KXYD9R1HXB" type="text/plain" data-cookieconsent="statistics"></script>
  <script type="text/javascript">
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-KXYD9R1HXB');
  </script>
</template>

  {% url 'cookie_consent_status' as status_url %}
  {% include "./show-cookie-bar-script.html" with status_url=status_url %}
 

<style>

  .cookie-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 14px;
    display: flex;
    align-items: center;
    grid-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.cookie-bar button {
    margin: 5px;
    padding: 10px 20px;
    background: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.cookie-bar button:hover {
    background: #0056b3;
}

.cookie-bar a {
    color: #00aaff;
    text-decoration: none;
    margin-left: 10px;
    font-size: 14px;
}

.cookie-bar a:hover {
    text-decoration: underline;
}

</style>  


</body>

</html>