{% extends 'base.html' %}
{% load static %}
{% block titolo %} Catalogo {% endblock titolo %}


{% block contenuto %}

<section class="container-fluid">
	<div class="row  g-4 py-5">
		<div class="col-12">
			<h2 class="text-center catalogo-titolo">CATEGORIE</h2>
		</div>
	</div>

	<div class="row g-4 py-3 justify-content-center">
		{% for categoria in object_list %}
		<div class="col-6 col-md-4 col-xl-3 my-4">

			<div class="card text-bg-dark mx-auto catalogo-card" id="home_contenitore_immagineCategorie">
				<a href="{% url 'dettaglio_categoria' categoria.pk %}">
					<img src="{{ categoria.immagine_categoria.url }}" class="card-img view catalogo-card-img" alt="..."
						id="home_immaginiCategorie">
					<div class="mask align-items-center">
						<div class="d-flex justify-content-center align-items-center w-100 h-100 text-center">
							<h5 class="card-title text-light display-6 fw-bold mb-0">{{ categoria.nome_categoria }}</h5>

						</div>
					</div>
				</a>

			</div>

		</div>

		{% endfor %}
	</div>


</section>
{% endblock contenuto %}