{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block titolo %} Contatti {% endblock titolo %}

{% block contenuto %}


<main id="cont">
  <div id="contenuto">
    <div id="cont" class="container">

      <div class="contatti-layout pt-3 pt-md-5">

        <div class="sezione-orari text-center">
          <h4>ORARI DI APERTURA</h4>
          <table id="orari" class="table table-sm align-middle">
            <tbody>
              <tr>
                <td>Lunedi-Venerdi </td>
                <td> 8.00-12.00 / 13.45-17.45</td>
              </tr>
              <tr>
                <td>Sabato-Domenica </td>
                <td>Chiuso</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="sezione-form">
          <h4 class="text-center">RICHIEDI INFORMAZIONI</h4>
          <form id="form-contatti" action="" method="post" class="mb-3">

            {% csrf_token %}
            <div class="row">
              <div class="col-6">
                {{ cliente.nome|as_crispy_field }}
              </div>
              <div class="col-6">
                {{ cliente.cognome_ragione_sociale|as_crispy_field }}
              </div>
            </div>
            {{ cliente.email|as_crispy_field }}
            <div class="row">
              <div class="col-6">
                {{ cliente.citta|as_crispy_field }}
              </div>
              <div class="col-6">
                {{ cliente.indirizzo|as_crispy_field }}
              </div>
            </div>
            {{ cliente.telefono|as_crispy_field }}
            {{ messaggio|crispy }}

            <div class="text-center text-md-end">
              <button class="btn btn-navbar" type="submit">Invia</button>
            </div>
          </form>
        </div>

        <div class="sezione-mappa text-center">
          <div id="map">
            <div class="map-hint" id="mapHint">Usa due dita per spostare la mappa</div>
            <script src="{% static 'js/contatti-mappa.js' %}"></script>
          </div>
        </div>

      </div>

    </div>
  </div>
</main>

<script src="{% static 'js/contatti-campo-messaggio.js' %}"></script>

{% endblock contenuto %}