{% extends 'base.html' %}

{% load static %}

{% block titolo %} Dettaglio Preventivo {% endblock titolo %}

{% block contenuto %}

<div class="container">

    <div class="d-flex align-items-center position-relative mb-2 mb-md-4 mt-4">
        <a href="{% url 'lista_ordini' %}"
            class="btn btn-navbar btn-sm rounded-pill pillola-torna-preventivi position-absolute start-0" title="Torna a tutti gli ordini">
            <i class="bi bi-arrow-left"></i>
            <span class="d-none d-md-inline">Torna ai preventivi</span>
        </a>
        <h1 class="fw-bold mb-0 mx-auto titolo-dettaglio-preventivo">Dettaglio Preventivo</h1>
        <a href="{% url 'aggiungi_preventivo_al_carrello' preventivo.pk %}"
            class="btn btn-navbar btn-sm rounded-pill pillola-titolo-dettaglio position-absolute end-0" title="Riusa preventivo">
            Riusa
        </a>
    </div>

    <div class="row">
        <div class="col-lg-8 col-12">
            <div class="row row-cols-1 row-cols-sm-2 g-4 pb-5">

                {% for elementi_ordine in object_list %}

                <div class="col">
                    <div class="card h-100 rounded-3 text-center" style="border: 2px solid var(--color-primary);">
                        <img src="{{ elementi_ordine.prodotto.immagine_rel.immagine }}"
                            class="card-img-top pt-3 px-3" alt="" style="height: 150px; object-fit: contain;">
                        <div class="card-body">
                            <h6 class="fw-normal mb-2">{{ elementi_ordine.prodotto.codice_prodotto}}</h6>
                            <h6 class="fw-normal mb-2">{{ elementi_ordine.prodotto.nome_prodotto}}</h6>
                            <p class="mb-0">Quantità ordinata {{ elementi_ordine.quantita}} {{ elementi_ordine.prodotto.unita_di_misura }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <!--
                <p>{{totale_prezzo_ordine}}</p>
                <p>{{totale_elementi_ordine}}</p>
                -->
            </div>
        </div>
        <div class="col-lg-4 col-12">
            <div class="card rounded-3 mb-4" style="border: 2px solid var(--color-primary);">
                <div class="card-body p-4">
                    <h6 class="fw-normal text-center mb-1">Messaggio</h6>
                    <div class="mb-3 p-3 rounded-3 text-center" style="border: 2px solid var(--color-primary);">
                        <p class="mb-0">{{ dettaglio_preventivo.messaggio|default:"-" }}</p>
                    </div>
                    <h6 class="fw-normal text-center mb-1">Luogo</h6>
                    <div class="p-3 rounded-3 text-center" style="border: 2px solid var(--color-primary);">
                        <p class="mb-0">{{ dettaglio_preventivo.luogo|default:"-" }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock contenuto %}