{% extends 'base.html' %}
{% load static %}
{% block titolo %} Documenti {% endblock titolo %}


{% block contenuto %}


<div class="container">
    <div class="text-center py-4 py-md-5">
        <h1 class="mb-0">Documenti</h1>
    </div>
    {% for categoria in object_list %}
    {% with docs=categoria.file_cat.all %}
    {% if docs %}
    <div class="p-4 mb-4 mx-auto documenti-categoria">
        <h2 class="documenti-categoria-titolo mb-3 text-uppercase text-center">{{ categoria.nome_categoria }}</h2>
        <div class="documenti-griglia">
            {% for file in docs %}
            {% if file.file %}
            {% include 'partials/documento_tile.html' with titolo=file.nome_file url_file=file.file.url %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endwith %}
    {% endfor %}
</div>

{% endblock contenuto %}
