{% extends 'base.html' %}
{% load static %}
{% block titolo %} Documenti {% endblock titolo %}


{% block contenuto %}


<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center py-5">Documenti</h1>
        </div>
    </div>    
    {% for categoria in object_list %}
    <div class="border rounded p-4 mb-5 mx-auto categoria-documenti">
        <h4 class="text-center py-3 fs-2">{{categoria.nome_categoria}}</h4>
        <div class="row g-4 justify-content-center">
            {% for file in categoria.file_cat.all %}
            {% if file.file %}
            {% include 'partials/card_documento.html' with titolo=file.nome_file url_file=file.file.url %}
            {% if forloop.counter|divisibleby:5 and not forloop.last %}
            {# Spartitore invisibile largo il 100% della riga: forza il documento successivo ad andare a capo dopo ogni 5°, a prescindere dalla larghezza reale delle card (che varia in base al titolo) #}
            <div class="w-100"></div>
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock contenuto %}