{% extends 'base.html' %}
{% load static %}
{% block titolo %} Etichettatura Ambientale {% endblock titolo %}


{% block contenuto %}

<div class="container">
    <div class="row">
        <div class="col-12 py-4">
            <h1 class="text-center">Etichettatura ambientale</h1>
        </div>
    </div>

    {% comment %} Stesso riquadro categoria e stesse tile documento di documenti.html. {% endcomment %}
    <div class="p-4 mb-4 mx-auto documenti-categoria">
        <div class="documenti-griglia">
            <a class="documento-tile" href="/media/pdfEtichettaturaAmbientale/ETICHETTATURA-AMBIENTALE-VERSIONE-0-02-01-23.pdf" target="_blank">
                <span class="documento-tile-icona">
                    <i class="bi bi-filetype-pdf"></i>
                </span>
                <span class="documento-tile-nome">Aziende</span>
            </a>
            <a class="documento-tile" href="/media/pdfEtichettaturaAmbientale/ETICHETTATURA-AMBIENTALE-PRIVATI-VERS.0-DEL-02-01-23.pdf" target="_blank">
                <span class="documento-tile-icona">
                    <i class="bi bi-filetype-pdf"></i>
                </span>
                <span class="documento-tile-nome">Privati</span>
            </a>
        </div>
    </div>
</div>

{% endblock contenuto %}
