{% extends 'base.html' %}
{% load static %}
{% block titolo %} Etichettatura Ambientale {% endblock titolo %}


{% block contenuto %}

<div class="container">
    <div class="row">
        <div class="col-12 py-4">
            <h1 class="text-center">Etichettatura ambientale</h1>
        </div>
    </div>

    <div class="row g-4 justify-content-center py-4">
        {% include 'partials/card_documento.html' with titolo="Aziende" url_file="/media/pdfEtichettaturaAmbientale/ETICHETTATURA-AMBIENTALE-VERSIONE-0-02-01-23.pdf" %}
        {% include 'partials/card_documento.html' with titolo="Privati" url_file="/media/pdfEtichettaturaAmbientale/ETICHETTATURA-AMBIENTALE-PRIVATI-VERS.0-DEL-02-01-23.pdf" %}
    </div>
</div>

{% endblock contenuto %}
