{% extends 'base.html' %}
{% load static %}
{% block titolo %} Etichettatura Ambientale {% endblock titolo %}


{% block contenuto %}

<div class="container">
    <div class="row">
        <div class="col-12 py-4">
            <h1 class="text-center">Etichettatura ambientale</h1>
        </div>
    </div>

    <div class="row justify-content-center g-3 py-4">
        <div class="col-auto">
            <a href="/media/pdfEtichettaturaAmbientale/ETICHETTATURA-AMBIENTALE-VERSIONE-0-02-01-23.pdf"
                class="btn btn-accent btn-lg px-5" target="_blank">
                Aziende
            </a>
        </div>
        <div class="col-auto">
            <a href="/media/pdfEtichettaturaAmbientale/ETICHETTATURA-AMBIENTALE-PRIVATI-VERS.0-DEL-02-01-23.pdf"
                class="btn btn-accent btn-lg px-5" target="_blank">
                Privati
            </a>
        </div>
    </div>
</div>

{% endblock contenuto %}
