{% extends 'base.html' %}
{% load static %}
{% block titolo %} Avvisi di chiusura {% endblock titolo %}

{% block contenuto %}

<div class="container">
    <div class="row">
        <div class="col-12 py-5">
            <div class="d-flex align-items-center position-relative">
                <a href="{% url 'dashboard_admin' %}" class="btn btn-navbar btn-sm position-absolute start-0" title="Torna alla dashboard">
                    <i class="bi bi-arrow-left"></i>
                    <span class="d-none d-md-inline">Torna alla dashboard</span>
                </a>
                <h1 class="mb-0 mx-auto">Avvisi di chiusura</h1>
                <button type="button" class="btn btn-navbar btn-sm position-absolute end-0" data-bs-toggle="modal" data-bs-target="#modalAvviso" id="btnNuovoAvviso" title="Nuovo avviso">
                    <i class="bi bi-plus-lg"></i>
                    <span class="d-none d-md-inline">Nuovo avviso</span>
                </button>
            </div>
        </div>
    </div>

    {% include 'partials/tabella_avvisi.html' %}
</div>

<div class="modal fade" id="modalAvviso" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Avviso di chiusura</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
      </div>
      <div class="modal-body" id="modalAvvisoBody">
        {% include 'partials/form_avviso.html' %}
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/gestione-avvisi.js' %}"></script>

{% endblock contenuto %}
