{% extends 'base.html' %}
{% load static %}
{% block titolo %} Home {% endblock titolo %}


{% block contenuto %}

{% if avviso_fase != "chiusura" %}
<div class="container">
    <div class="row pt-3 justify-content-center">
        <div class="col-md-6 mb-4 text-center">
          <span id="pillola-orari" class="badge rounded-pill px-3 py-2 fs-6 pillola-orari"
                data-apertura="{{ orario_apertura_minuti }}"
                data-chiusura="{{ orario_chiusura_minuti }}"
                data-pranzo-inizio="{{ pranzo_inizio_minuti }}"
                data-pranzo-fine="{{ pranzo_fine_minuti }}"
                data-testo-aperto="{{ testo_pillola_aperto }}"
                data-testo-vicino-chiusura="{{ testo_pillola_vicino_chiusura }}"
                data-testo-pranzo="{{ testo_pillola_pranzo }}"
                data-testo-chiuso-feriale="{{ testo_pillola_chiuso_feriale }}"
                data-testo-chiuso-weekend="{{ testo_pillola_chiuso_weekend }}"></span>
        </div>
    </div>
</div>
{% endif %}

<div class="container-fluid">
    <div class="row pb-5 justify-content-center">
        <div class="col-10">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://img.freepik.com/premium-photo/ai-generated-ai-generative-chemistry-lab-laboratory-technical-equipment-with-many-glassware-bottle-medicine-research-graphic-art_95211-10609.jpg?w=2000" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://img.freepik.com/free-vector/realistic-laboratory-composition-with-front-view-glass-table-with-jars-flasks-test-tube-stands-vector-illustration_1284-82407.jpg?w=2000&t=st=1690451842~exp=1690452442~hmac=b255af9ca2f82f1065fd9e8775dfd4c0f9667d1ec3ef107a85ac47fd696095cb" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/pillola-orari.js' %}"></script>

{% endblock contenuto %}
