{% extends 'base.html' %}
{% load static %}
{% block titolo %} {{nome_categoria}} {% endblock titolo %}


{% block contenuto %}

<div class="container">

    {% include 'partials/toast_ricerca_senza_risultati.html' %}

    {# Sentinella usata dall'IntersectionObserver per rilevare quando la riga sotto si aggancia alla navbar #}
    <div id="sentinellaIntestazione" class="sentinella-intestazione"></div>

    {% include 'partials/intestazione_categoria.html' with controlli_template='partials/controlli_ricerca_filtro_card.html' intestazione_sticky=True %}

    {% if not user.is_authenticated %}
    <div class="d-flex justify-content-center card-control-alert pt-4">
        {% include 'partials/alert_preventivo.html' %}
    </div>
    {% endif %}

    {% include 'partials/griglia_prodotti.html' %}

</div>

<script src="{% static 'js/aggiungi-al-carrello.js' %}"></script>
<script src="{% static 'js/filtro-prodotti-ajax.js' %}"></script>

<script src="{% static 'js/sovrapposizione-sfondo-blu.js' %}"></script>
<script src="{% static 'js/ricerca-tastiera-virtuale.js' %}"></script>
<script src="{% static 'js/controlli-ricerca-filtro-card.js' %}"></script>

<script src="{% static 'js/pillola-titolo-sticky.js' %}"></script>
<script src="{% static 'js/intestazione-categoria-sticky.js' %}"></script>

{% endblock %}
