{% extends 'base.html' %}
{% load static %}
{% block titolo %} {{nome_categoria}} {% endblock titolo %}


{% block contenuto %}

<div class="container">

    <div class="row">
        <div class="col-12 py-5">
            <div class="text-center">
                <h1 class="fw-bold mb-0">{{nome_categoria}}</h1>
            </div>
        </div>
    </div>

    {% if not user.is_authenticated %}
    <div class="row">
        <div class="col-12 d-flex justify-content-center card-control-alert">
            {% include 'partials/alert_preventivo.html' %}
        </div>
    </div>
    {% endif %}

    <div class="row">

        <div class="col-12 py-3 d-flex flex-nowrap align-items-center justify-content-between gap-2">

            <div class="card-control-ricerca flex-grow-1 flex-shrink-1" style="max-width: 12rem;">
                <form class="input-group rounded w-100" action="{% url 'search_prodotto' categoria_pk %}">
                    <input type="text" name="query" id="prodottiCardSearch" class="form-control rounded" placeholder="Search" aria-label="Search"
                        aria-describedby="search-addon" />
                    <span class="input-group-text border-0" id="search-addon">
                        <i class="fas fa-search"></i>
                    </span>
                </form>
            </div>

            {% if sottocategorie|length > 0 %}
            <div class="card-control-filtro flex-grow-1 flex-shrink-1" style="max-width: 28rem;">
                <select id="prodottiCardFiltro" class="form-select" onchange="if (this.value) window.location.href = this.value;">
                    <option value="{% url 'dettaglio_categoria' categoria_pk %}">Lista completa</option>
                    {% for sottocategoria in sottocategorie %}
                        <option value="{% url 'dettaglio_sottocategoria' sottocategoria.categoria_id sottocategoria.codice_sottocategoria %}"
                            {% if sottocategoria.codice_sottocategoria == sottocategoria_corrente_pk %}selected{% endif %}>
                            {{ sottocategoria.nome_sottocategoria }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}

        </div>

        <div class="col-12">

            <div class="row">

                {% for x in prodotti %}
                <div class="col-6 col-xl-4 col-xxl-4 card-deck py-4 " >

                    <div class="card" style="height: 100%;">
                        <img src="{{x.immagine_rel.immagine}}" class="card-img-top" style="max-height: 200px; width:100%; object-fit: contain;padding-top:3vh;" alt="...">
                        <div class="card-body">
                            <div class="row py-2"> 
                                <div class="col-8"> 
                                    <p class="card-text">{{x.codice_prodotto}}</p>
                                </div>
                                <div class="col-4"> 
                                    <h6 class="card-title float-end">{{x.unita_di_misura}}</h6>
                                </div>
                            </div>
                            <!--<p class="card-text">{{x.codice_prodotto}}</p> -->
                            <h6 class="card-title">{{x.nome_prodotto}}</h6>
                            {% if x.descrizione %}

                                <h6 class="card-title">{{x.descrizione}}</h6>
                            {% endif%}
                            {% if x.precursore %}
                                <i>{{x.precursore}}</i>
                            {% endif%}
                            <!--<h6 class="card-title">{{x.unita_di_misura}}</h6>-->
                        </div>
    
                        <div class="card-footer">
                            <div class="d-flex justify-content-center align-items-center gap-2">
                                {% if x.scheda_rel.scheda %}
                                    <a class="btn btn-success"
                                        href="{{x.scheda_rel.scheda}}" target="_blank"><small>Scheda Tecnica</small></a>
                                {% endif %}
                                <a class="btn btn-navbar" href="{% url 'aggiungi_prodotti' x.pk %}" title="Aggiungi al preventivo">
                                    Aggiungi al preventivo
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                {% endfor %}



            </div>

        </div>

        <div class="col-12 py-4">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  {% if prodotti.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ prodotti.previous_page_number }}">&laquo;</a></li>
                  {% else %}
                    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                  {% endif %}

                  {% if prodotti.paginator.num_pages <= 3 %}
                    {% for p in prodotti.paginator.page_range %}
                      <li class="page-item {% if p == prodotti.number %}active{% endif %}"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                    {% endfor %}
                  {% else %}
                    <li class="page-item {% if prodotti.number == 1 %}active{% endif %}"><a class="page-link" href="?page=1">1</a></li>
                    {% if prodotti.number == 1 %}
                      <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                      <li class="page-item disabled"><span class="page-link">&hellip;</span></li>
                    {% elif prodotti.number == prodotti.paginator.num_pages %}
                      <li class="page-item disabled"><span class="page-link">&hellip;</span></li>
                    {% else %}
                      <li class="page-item active"><a class="page-link" href="?page={{ prodotti.number }}">{{ prodotti.number }}</a></li>
                      <li class="page-item disabled"><span class="page-link">&hellip;</span></li>
                    {% endif %}
                    <li class="page-item {% if prodotti.number == prodotti.paginator.num_pages %}active{% endif %}"><a class="page-link" href="?page={{ prodotti.paginator.num_pages }}">{{ prodotti.paginator.num_pages }}</a></li>
                  {% endif %}

                  {% if prodotti.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ prodotti.next_page_number }}">&raquo;</a></li>
                  {% else %}
                    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                  {% endif %}
                </ul>
            </nav>
        </div>

    </div>
</div>


{% endblock %}